<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản lý Bác sĩ</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <th:block th:replace="base :: css"></th:block>
</head>
<body class="container mt-5">
    <div th:replace="base :: header"></div>

    <h2 class="mb-4 text-primary">Danh Sách Bác Sĩ</h2>
    
    <section class="container">
    <div class="mb-3">
        <a th:href="@{/}" class="btn btn-secondary me-2">Tất cả</a>
        
        <th:block th:each="c: ${specialty}">
            <a th:href="@{/(specialtyId=${c.id})}" class="btn btn-outline-primary me-2" th:text="${c.name}"></a>
        </th:block>
    </div>

    <div class="row mb-4">
        <div class="col-md-5">
            <form th:action="@{/}" method="get" class="d-flex">
                <input type="text" name="kw" th:value="${param.kw}" class="form-control me-2" placeholder="Nhập tên hoặc ID bác sĩ...">
                <button type="submit" class="btn btn-success">Tìm</button>
            </form>
        </div>
    </div>
        
        <div  class="mt-2">
            <a th:href="@{/doctor/add}" class="btn btn-info">Thêm Bác sĩ</a>
        </div>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Tên Bác Sĩ</th>
                <th>Chuyên Khoa</th>
                <th>Hành Động</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="d : ${doctors}">
                <td th:text="${d.id}"></td>
                
                <td th:text="${d.userId?.fullName}"></td> 
                
                <td th:text="${d.specialtyId?.name}"></td>
                
                <td>
                    <a th:href="@{/doctor/edit/} + ${d.id}" class="btn btn-info">Cập nhật</a>
                    <button class="btn btn-danger btn-sm" th:onclick="'deleteDoctor(\'' + @{/api/doctors/} + ${d.id} + '\')'">
                        Xóa
                    </button>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(doctors)}">
                <td colspan="4" class="text-center text-danger">Không tìm thấy bác sĩ nào!</td>
            </tr>
        </tbody>
    </table>
    </section>
    
    <div th:replace="base :: footer"></div>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>